# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Jekyll
_site
.sass-cache
Gemfile.lock
*.gem
.jekyll-cache

# For dev container stuff 
.devcontainer/**

# For container bash history
persistent/.bash_history 

# For fprime lib 
cubics-obc-test/fprime/**

# For Fprime project builds and auto generated code 
cubics-obc-test/build**
cubics-obc-test/venv/**

# For individual component builds and auto generated code
cubics-obc-test/BurnwireTester/build**
cubics-obc-test/BurnwireTester/logs/**
